.banner-class{
    position: relative;
}

.banner-img{
    width: 100%;
    height: 400px;
}

.banner-heading{
    position: absolute;
    top: 35%;
    left: 19%;
    color: white;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 18%;
    color: white;
}

.banner-color{
    color: white;
}
.heading-font{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pragraph-text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.video{
    height: 500px;
    width: 100%;
}

.paragraph-img{
    height: 550px;
    width: 550px;
    box-shadow: 13px 15px 9px 3px  #c2c2a3;
}

.paragraph-img:hover{
    transform: scale(0.9);
    z-index: 2;
    transition: 0.3s;
    box-shadow: 0 0 15px 9px #c2c2a3;
}

.card{
    box-shadow: 10px 10px 20px 2px #e1e1d0;
   padding: 4px;

}
.card:hover{
    border: 1px solid #e83e8c;
}

.color{
    color: #e83e8c;
}