@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


body{
    background:  #f5eff2;
    font-family: 'Poppins', sans-serif;
}
.bag{
    background-color: #e83e8c ;
}
.body{
    border: 1px solid #e83e8c;
}
.wdt{
    width: 50px;
    height: 50px;
}
.c-bag{
    background-color:lightpink;
}
.r-bag{
    background-color: #eef3f7;
}
.ha{
    color:#e83e8c;
}
.img-card-1{
    cursor: pointer;
    transition: 0.5s;
}
.img-card-1:hover {
    transform: translateY(-10px);
}
.identity{
    color: #e83e8c;
}
.identity-2{
    color: #e83e8c;
}
.mb-4{
    color: #e83e8c;
}