body {
    font-family: Arial, sans-serif;
    background-image: url(./../imgs/bg-ice-cream.png);
    background-size: cover;
  }
  form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 4px;
  }
  button {
    background-color: #4CAF50;
    color:white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 90px;
  }
  button:hover {
    background-color: #45a049;
  }