body {
    background: url(./../imgs/about-page-img/log-in-page.png); 
    backdrop-filter: blur(4px);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.login-container h2 {
    text-align: center;
    margin: 50px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e83e8c;
    color: #fff;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: white;
    color: #e83e8c;
    border: 1px solid #e83e8c;
}

.account{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.Register{
    color: grey;
}
.Register:hover{
color: #e83e8c;
}

*/registraion/

.input{
    width: 100%;
}
.register-btn{
    width: 100%;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e83e8c;
    color: #fff;
    cursor: pointer;

}
.register-btn:hover{
    background-color: white;
    color: #e83e8c;
    border: 1px solid #e83e8c;
}

.register-box{
    padding: 20px;
    border-radius: 20px;
    position: relative;
    top: 10%;
    bottom: 10%;
}