body{
    margin: 0;
    padding:0;
    
}
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');
header{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}
.bg-img{
    background-image: url("./../imgs/s5.jpg");  /* The image used as the background */
    min-height: 100vh;
    position: relative;
    /* width: 100%;                     Set the type of gradient (linear or radial) */
}
.flex{
    display: flex;
}
.right-flex{
    position: absolute;
    left: 50px;
    cursor: pointer;
}
.left-flex{
    position: absolute;
    right: 50px;
}
.mid-flex{
    position: absolute;
    left:  30%;
    text-align: center;
    display: block;
    justify-content: space-around;
    z-index: 999;
}
.menu-list li a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
    margin: 20px;
    transition: .5s;
}
.menu-list li a:hover{
    color: #e83e8c;;
}
.nav-icons{
    height: 27px;
    margin: 10px;
    cursor: pointer;
} 
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
/* padding: 10px; */
    margin: auto;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: 0px 1px 15px #a3a3a3;
    position: sticky;
    top: 0%;
    z-index:  100;
}
.heading{
    font-size: 20px;
    margin-bottom: -2px;
}
.text-overlay{
    text-align: right;
    color: #fff;
    width: 46%;
    float: right;
    margin-top: 200px;
    margin-right: 10%;
    font-size: 30px;
    transition: ease-in;
}
.buyNow-btn{
    border: 1px solid black;
    margin: 20px;
    padding: 15px 30px;
    background-color: #fff;
    color: black;
    border-radius: 60px;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    transition: all .3s ease-out;
}
.buyNow-btn:hover{
    background-color:#000;
    color: white;
}
.slide-btn-comtain{
    display: flex;
    position: absolute;
    bottom: 1px;
    left: 60%;
   
}
.slide-btn{
    height: 20px;
    cursor: pointer;
    background-color: transparent;

}
.btn-2{
    height: 20px;
    margin-left: 40% ;
    background-color: transparent;

}

/* The overlay effect with black background */
.overlay {
    height: 70%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    transition: 0.5s; 
    background-color: rgb(255,255,255);
    /* Black with a little bit see-through */
  }
  
  /* The content */
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
    transition: 0.5s; 
  }
  .search-title{
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    text-align: center;

  }
  
  /* Close button */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
    color: black;
  }
  
  .overlay .closebtn:hover {
    color: #e83e8c;;
  }
  
  /* Style the search field */
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    margin-left: 10%;
    font-family: "Space Grotesk", sans-serif;
    box-shadow: 0 2px 1px black;
    float: left;
    width: 80%;
    background: white;
  }
  
  /* Style the submit button */
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #000;
  }
  .sidenav {
    height: 100%; 
    font-family: "Space Grotesk", sans-serif;
    width: 0; 
    position: fixed;
    z-index: 1000;
    top: 0; 
    right: 0;
    background-color: #fff; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    box-shadow: -2px 0 5px #a3a3a3;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  .cart{
    font-family: "Space Grotesk", sans-serif;
    margin-left: 30%;
    font-size: 20px;
    font-weight: bold;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-family: "Space Grotesk", sans-serif;
    left: 10px;
    font-size: 36px;
    margin-right: 5px;
  }
  .closebtn:hover{
    color: #e83e8c;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .name-container{background-position: left;}
  }
  .mode-container{
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 5px;
    margin: 5px 20px;
  }
  .themeParent{
    display: flex;
    flex-direction: row;
  }

  .lightMode{
   border:#000 1px solid;
   background-color:aliceblue;
   color: #000;
  }

  .darkMode{ 
    border: aliceblue 1px solid;
    color: #fff;
    background-color:#000;
  }
  .darkBody{
    
    color:white;
  }
  .lightBody{
    background-color: aliceblue;
  
  }
 
  .name-container{
    background-image: url(./../imgs/menu-card/background-image.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 40px;
}
.page-heading {
    font-size: 50px;
}
  .category-img{
    height: 100px;
    border-radius: 50%;
  }
  .decoration{
    text-decoration: none;
  }
  .filter-container{
    width:100px;
    margin: 50px 80px;
    padding: 10px;
    border-radius: 2px;
    border: #000 1px solid;
    display: flex;
    justify-content: space-around;
    background-color:white;
    color:black;
    text-decoration: none;
  }
  .filter-container:hover{
    background-color: #e83e8c;
    color: white;
    border:#e83e8c 1px solid;
    text-decoration: none;

  }
  .flavour-container{
    margin-left: 120px;
    text-align: center;
  
   
  }
  .flavour-img{
    height: 300px;
    padding-top: 15px;
  cursor: pointer;

  }
  .flavour-description{
    margin:10px 77px;
    font-weight: bold;
    cursor: pointer;
  }
  .flavour-price{
    color: #e83e8c;
    padding-left: 10px;
    cursor: pointer;
  }
  .effect-hover{
    width:300px; 
    display: flex;
    justify-content:space-between;
    visibility: hidden;
    text-align: center;
  
  }
  .flavour-card{
    border-radius: 20px;
    display: block;
    justify-content: center;
    margin :10px auto;
    text-align: center;
    background-color: #fff;
    width: 250px;
   padding: 5px 10px;
    margin: 50px;
    
  }
  
  .flavour-card:hover{
    .effect-hover{
        visibility: visible;
        transition:1.25s;
      
    }
    border: 3px solid  #e83e8c ; 
    
  }
  .load-more-btn{
    display: block;
    margin: 20px auto;
  }
  #liked{
    cursor: pointer;
  }
  