@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');
body{
    margin: 0;
    padding:0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    background-color: #fff;
}
.main-img{
    width:100%;
    margin-left:10px;
    height:600px;
}
.img-des{
  
   font-weight:20px;
   color:white;
   margin:20px 10px;
}
.basic-info{
    font-size:35px;
    font-weight:15px;
    width:450px;
    margin-left:35px;
    color:white;
    text-align:center;
}
#choco2{
    width:350px;
    height:380px;
    object-fit:cover;
    border:1px solid black;
    border-radius:20px;
    box-shadow:0px 0px 10px rgba(0,0,0,25);
    margin:auto 130px;
    
}
#choco2:hover{
    border: 3px solid  #e83e8c;
}
.product-image{
    height:160px;
    cursor:pointer;
    justify-content:space-around;
    margin-left:90px;
}
 .product-image:hover{
    border: 3px solid  #e83e8c;
    opacity: .8;
    border-radius:10px;
 }
.info{
    width:450px;
}
.ice-des{
   justify-content: center;
   align-items:center;
}
.products{
    margin:-10px;
    margin-top:50px 10px;
    justify-content:center;
}
.product-container{
    margin:400px 22px;
}
.product-content{
    margin:-330px 10px;
    justify-content: space-between;
}
.card{
    margin:5px -2px;
   
    border:none;
    box-shadow:0px 0px 2px #e83e8c;
   
}
.card:hover{
    border: 1px solid  #e83e8c;
    opacity:.7;
    border-radius:5px;
}
.container{
    margin:10px 10px;
    justify-content:center;
    text-align:center;
    background-color:white;
    border:1px solid black;
    border-radius:20px;
    box-shadow:1px 1px 2px black;
    width:300px;
    height:400px;
    box-shadow:1px 1px 12px #021530;
    justify-content:space-between;
}
.icecream{
    background-color:#c3ced9;
    width:320px;
    margin:5px 15px;
    border-radius:10px;
}
.icecream{
    background-color:#c3ced9;
    width:270px;
    margin:2px 10px;
    border-radius:10px;
}
.des{
    font-size:20px;
    margin-top:-15px;
}
.chocobar{
    object-fit:cover;
}
.btn{
    border: 1px solid black;
    margin: 25px 30px;
    padding: 10px 20px;
    background-color:#000;
    color: #fff;
    border-radius: 60px;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    font-size: 15px;
    transition: all .3s ease-out;
}
.btn:hover{
    background-color:transparent;
    color: #000;
    border :1px solid black;
}
