@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');
body{
    margin: 0;
    padding:0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    background-color: #fff;
}
.main-img{
    width:100%;
    margin-left:10px;
    height:600px;
}
.img-des{
  
   font-weight:20px;
   color:white;
   margin:20px 10px;
}
.basic-info{
    font-size:35px;
    font-weight:15px;
    width:450px;
    margin-left:35px;
    color:white;
    text-align:center;
}
.point{
    cursor: pointer;
}

#choco2{
    width:350px;
    height:380px;
    object-fit:cover;
    border:1px solid black;
    border-radius:20px;
    margin:auto 130px;
    
}
#choco2:hover{
    border: 1px solid  #e83e8c;
   
}
.product-image{
    height:160px;
    cursor:pointer;
    justify-content:space-around;
    margin-left:90px;
}
 .product-image:hover{
    border: 1px solid  #e83e8c;
    opacity: .8;
    border-radius:10px;
 }
.info{
    width:450px;
}
.ice-des{
  width:400px;
  margin-left:300px;
  height:300px;
}
.products{
    margin:-10px;
    margin-top:50px 10px;
    justify-content:center;
}
.product-container{
    margin:400px 22px;
}
.card{
    margin:5px -2px;
   
    border:none;
   
}
.card:hover{
    border: 1px solid  #e83e8c;
    opacity:.7;
    border-radius:5px;
}
.container{
    margin:8px 8px;
    justify-content:center;
    text-align:center;
    background-color:white;
    border:1px solid black;
    border-radius:20px;
    width:300px;
    height:450px;
    justify-content:space-around;
    
}
.container:hover{
    border: 1px solid  #e83e8c;
}
.icecream{
    background-color:#c3ced9;
    margin:5px 15px;
    border-radius:10px;
}
.icecream{
    background-color:#c3ced9;
    width:270px;
    margin:2px 10px;
    border-radius:10px;
}
.des{
    font-size:20px;
    margin-top:-15px;
}
.chocobar{
    object-fit:cover;
}
.btn{
    border: 1px solid black;
   
    padding: 10px 20px;
    background-color:#e83e8c;
    color: white;
    border-radius: 60px;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    font-size: 15px;
    transition: all .3s ease-out;
    border:none;
}
.btn:hover{
    background-color:white;
    color: #e83e8c;
    border :1px solid #e83e8c;
}
.effect-hover{
    width:200px;
    padding: 5px 10px;
    padding-left: 70px;
    display: flex;
    justify-content: space-around;
    visibility: visible;
    margin-left:-100px;
    cursor:pointer;
    
    }
    
    .flavour-card:hover{
    .effect-hover{
        visibility: visible;
        transition:1.25s;
      
    }
    }
    #plus{
        cursor:pointer;
    }
    #plus:hover{
       
        color:white;
    }
    #minus{
        cursor:pointer;
    }
    .btn1{
        background:transparent;
        border:none;
        font-size: 20px;
        outline:none;
        color:black;
        margin-top:-5px;
    }
    .btn i:hover{
        cursor:pointer;
    }
    .icecones{
        height:300px;
       border-radius: 10px;
        border :1px solid black;
    }
    .icecones:hover{
        border :1px solid #e83e8c;

    }
    .addtocart{
      width:300px;
      
      
    }
    /*zoom effect*/

.zoom-img{
    height:600px;
    width:600px;
    overflow: hidden;
    position: relative;
    margin:-250px 10px;
  
    
}
.text{
    margin:-200px 200px;
}

.zoom-image {
    transition: 3.3s;
    
}

.zoom-image:hover {
    transform: scale(1.3);
    opacity: .3;
}

    /*media query apply*/
    @media screen and (max-width: 500px) {
        body{
            max-width:500px;
        }
        .main-img{
            width:100%;
            height:200px;
            margin-left: 25px;
            object-fit: cover;
         }
       .product-card{
        height:100px;
       }
       .ice-des{
     margin-left:50px;
     }
     .product-content{
       visibility:hidden;
    }
    .addtocart{
        visibility:hidden;
    }
    .ice-des{
      margin-left:100px;

    }
    .more{
        margin-bottom:30px;
    }
    .container{
    justify-content:center;
    text-align:center;
    background-color:white;
    border:1px solid black;
    border-radius:20px;
    box-shadow:1px 1px 2px black;
    width:200px;
    height:400px;
    justify-content:center;
   

    }
    .icecream{
        width:200px;
    }
    .icecream1{
        width:200px;
    }
    .btn{
        visibility: hidden;
    }
}

    @media (max-width:768px) {
       body{
        max-width:768px;
       }
         .main-img{
            width:100%;
            height:40%;
            justify-content: center;
         
            margin-left: 25px;
            object-fit: cover;
         }
         .iceimg{
       width:60%;

           }
           .ice-des {
            margin-left:141px;
           }
           .products{
         height:100px;
         margin:auto 15px;
        }
        .product-image{
            height:140px;
            cursor:pointer;
            justify-content:center;
            margin:auto 35px;
        }
        .icecones{
         justify-content: center;
         margin:auto -20px;
          height:130px;
            border:none;
        }
        .point{
            visibility: hidden;
          
        }
    }
   